*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section
{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.parent{
    height: 50%;
    width: 50%;
    
    display: flex;
    justify-content: center;
    gap: 2px;
    align-items: center;
}
.child1{
    height: 100%;
    width: 50%;
   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(17, 178, 206);

}
.child2{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(199, 55, 12);
}


.parent1{
    height: 50%;
    width: 50%;
    
    display: flex;
    justify-content: center;
    gap: 2px;
    align-items: center;
}
.section1{
    height: 100%;
    width: 50%;
   
    display: flex;
    justify-content: start;
    align-items: end;
    background-color: rgb(0, 217, 255);

}


.section2{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: start;
    background-color: rgb(0, 217, 255);
}
.section11{
    height: 50%;
    width: 50%;
    background-color: rgb(0, 175, 93);
}
.section21{
    height: 50%;
    width: 50%;
    background-color: rgb(229, 255, 0);
}

.parent3{
    height: 50%;
    width: 50%;
    
    display: flex;
    justify-content: center;
    gap: 2px;
    align-items: center;
}
.section3{
    height: 100%;
    width: 33.33%;
    background-color: rgb(0, 174, 255);
}
.section4{
    height: 100%;
    width: 33.33%;
    background-color: rgb(0, 255, 98);
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.section5{
    height: 100%;
    width: 33.33%;
    background-color: rgb(0, 174, 255);
}

.section41{
    height: 50%;
    width: 25%;
    background-color:blue;
}

.parent4{
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 2px;
    align-items: center;
}
.section6{
    height: 100%;
    width: 25%;
    background-color: rgb(0, 174, 255);
}
.section7{
    height: 100%;
    width: 25%;
    background-color: rgb(255, 251, 0);
}

.section8{
    height: 100%;
    width: 25%;
    background-color: rgb(0, 174, 255);
}

.section9{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    gap: 2px;
    align-items: center;
    flex-direction: column;
}
.section91{
    height: 50%;
    width: 100%;
    background-color: rgb(255, 0, 0);
}
.section92{
    height: 50%;
    width: 100%;
    background-color: rgb(0, 174, 255);
}